<footer class="footer">
    <div class="footer__left">
        <div class="logo-container">Blokmate</div>
        <div style="width: 40%;">Learn everything you need to know about Web3 and Blockchain with our series of articles, in-depth tutorials, structured courses and complete project guides.</div>
    </div>
    <div class="footer__right">
        <div><p>Newsletter</p><h3>Stay connected with Blokmate</h3>
            <form>
                <input disabled="" type="email" placeholder="Enter your email address">
                <button class="btn--filled" disabled="">Subscribe</button>
            </form>
        </div>
    </div>
</footer>

<!-- Copyright &copy 2023 Blokmate. All rights reserved -->
