<nav class="navbar">
  <a href="/">
    <div class="logo-container">Blokmate</div>
  </a>
  <div class="nav__header">
    <div class="nav__burger">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <ul class="nav__links">
      <a href="/articles" class="nav__link">Blogs</a>
      <a href="/articles/new">Publish an Epic</a>

      <% if(!currentAuthor){ %>
      <a href="/author/login" class="nav__link">Login</a>
      <a href="/author/register" class="nav__link">Register</a>
      <% }else{ %>
      <a href="/author/logout" class="nav__link">Logout</a>
      <% } %>
    </ul>
  </div>
</nav>
