<div class="toc sticky-container"">
  <div class="toc__heading">Table of contents</div>
    <% let headings = article.content.split(`<`); headings =
    headings.filter(heading=>heading[0]==="h") %> <% for(heading of headings ){
    %>
    <a href="#<%= heading.slice(3).replaceAll(" ","-") %>">
    <div class="toc__content">
      <%= heading.slice(3) %>
      </div>
      </a>
    <% } %>

</div>
