<div id="toc" class="toc sticky-container">
  <div class="toc__heading">Table of contents</div>
    <% let headings = article.content.split(`<`); headings =
    headings.filter(heading=>heading[0]==="h") %> 
    <% headings.forEach((heading, index)=>{
    %>
    <div data-toc="heading-<%=index%>" class="toc__content line-clamp-1">
      <%= heading.slice(3).replace("&nbsp;", " ") %>
    </div>
    <% }) %>
</div>
