<% layout('layout/boilerplate') -%>
<div class="login">
  <form  method="POST" action="/author/login">
    <div>
      <label class="label" for="email">Email*</label>
      <input name="email" id="email" type="text" />
    </div>
    <div>
      <label class="label" for="password">Password*</label>
      <input name="password" id="password" type="password" />
    </div>
    <button class="btn btn--filled" type="submit">Login</button>
  </form>
</div>
