<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Publish Article</title>
    <link
      href="https://cdn.quilljs.com/1.0.0/quill.snow.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/text-editor.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <style>
      #editor-container {
        width: 100%;
        min-height: 100vh;
      }
    </style>
  </head>
  <body>
    <%- include('../partials/navbar')%>
    <h1>Publish New Article</h1>

    <form method="POST" action="/articles" enctype="multipart/form-data">
      <div>
        <input type="text" name="title" placeholder="title" />
      </div>
      <div>
        <input type="text" name="description" placeholder="description" />
      </div>
      <div>
        <input type="text" name="keywords" placeholder="Add keywords" />
      </div>
      <div>
        <input type="file" name="heroImage" placeholder="Add Image Link" />
      </div>
      <select name="category" id="category">
        <% for(category of categories){ %>
        <option value="<%= category._id   %>"><%=category.title %></option>
        <% } %>
      </select>
      <!-- Create the editor container -->
      <div class="row form-group">
        <input name="content" type="hidden" />
        <div id="editor-container"></div>
      </div>

      <button type="submit">Publish</button>
    </form>
    <!-- Include the Quill library -->

    <!-- Initialize Quill editor -->
    <script src="//cdn.quilljs.com/latest/quill.min.js"></script>
    <script src="/js/text-editor.js"></script>
  </body>
</html>
