<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Publish Article</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.quilljs.com/1.0.0/quill.snow.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/text-editor.css" />
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <%- include('../partials/flash')%>
    <%- include('../partials/navbar')%>

    <form method="POST" action="/articles" enctype="multipart/form-data">

      <div class="article__header article__header--text-editor">
        <div class="article__info">
          <input class="article__title" type="text" id="title" name="title" placeholder="Title goes here..." /><br>
          <span data-for="title" class="invalid">char:<span>0</span> (from 25 to 70 char)</span>
        </div>
      </div>

      <!-- Create the editor container -->
      <div id="tooltip-controls">
        <button class="tooltip-1" id="bold"><i class="fa fa-bold"></i></button>
        <button class="tooltip-1" id="italic"><i class="fa fa-italic"></i></button>
        <button class="tooltip-1" id="link"><i class="fa fa-link"></i></button>
        <button class="tooltip-2" id="header-2"><i class="fa fa-header"><sub>2</sub></i></button>
        <button class="tooltip-2" id="header-3"><i class="fa fa-header"><sub>3</sub></i></button>
        <button class="tooltip-2" id="blockquote"><i class="fa fa-quote-right"></i></button>
      </div>
      <div id="sidebar-controls">
        <button id="show-controls"><i class="fa fa-plus"></i></button>
        <span class="controls">
          <button id="image-button"><i class="fa fa-camera"></i></button>
        </span>
      </div>
      <input name="content" type="hidden" />
      <div id="editor-container">
        <p>Tell your story...</p>
      </div>

      <!-- Meta deta And SEO inputs -->
      <div class="seo-inputs ">
        <h2 class="seo-heading">Fill It Up If you aspire to rank on GOOGLE</h2>
        
        <div>
          <input type="text" id="seoTitle" name="seoTitle" placeholder="SEO-title" />
          <span data-for="seoTitle" class="invalid">char:<span>0</span> (from 40 to 60 char)</span>
        </div>

        <div>
          <!-- <label class="label" for="description">Add A Description*</label> -->
          <textarea rows="3" id="description" type="text" name="description" placeholder="Description" ></textarea>
          <span data-for="description" class="invalid">char:<span>0</span> (from 120 to 150 char)</span>
        </div>

        <div>
          <!-- <label class="label" for="tagline">Add a Tagline*</label> -->
          <input id="tagline" type="text" name="tagline" placeholder="Tagline" />
          <span data-for="tagline" class="invalid">char:<span>0</span> (from 40 to 60 char)</span>
        </div>

        <div>
          <!-- <label class="label" for="keywords">Add a Few Keywords*</label> -->
          <input id="keywords" type="text" name="keywords" placeholder="Add keywords like this nft,defi,web3" />
          <span data-for="keywords" class="invalid">keywords added: <span>0</span> (Add from 2 to 5 kewyords)</span>
        </div>

        <div>
          <!-- <label class="label" for="category">Choose A Category*</label> -->
          <select name="category" id="category">
            <% for(category of categories){ %>
            <option value="<%= category._id   %>"><%=category.title %></option>
            <% } %>
          </select>
        </div>

        <div>
          <!-- <label class="label" for="heroImage">Add A Hero-Image*</label> -->
          <input type="file" name="heroImage" id="heroImage" placeholder="Add Image Link" />
          <span data-for="heroImage" class="invalid">Choose a img file</span>
        </div>

      </div>
      <button class="btn btn--publish btn--filled" type="submit">Publish</button>
    </form>
    <!-- Include the Quill library -->

    <!-- Initialize Quill editor -->
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://platform.twitter.com/widgets.js"></script>
    <script src="//cdn.quilljs.com/latest/quill.min.js"></script>
    <script src="/js/text-editor.js"></script>

    <script>
      const toggle = document.querySelector(".nav__burger");
      const navLinks = document.querySelector(".nav__links")

      window.addEventListener("scroll", ()=>{
        toggle.classList.remove("nav__burger--close")
        navLinks.classList.remove("nav__links--expanded")
      })

      toggle.addEventListener("click", ()=>{
        toggle.classList.toggle("nav__burger--close")
        navLinks.classList.toggle("nav__links--expanded")
      })


      // To dissapear flash after 2-3 seconds

      const flash = document.querySelector(".flash")

      setTimeout(()=>{
        if(flash) flash.style.display = 'none'
      },2000)
  </script>
  </body>
</html>
