<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>blog</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('../partials/flash')%> 
    <%- include('../partials/navbar')%> 
    <%- body -%> <%-
    include('../partials/footer')%>

    <script>
        const toggle = document.querySelector(".nav__burger");
        const navLinks = document.querySelector(".nav__links")

        window.addEventListener("scroll", ()=>{
          toggle.classList.remove("nav__burger--close")
          navLinks.classList.remove("nav__links--expanded")
        })

        toggle.addEventListener("click", ()=>{
          toggle.classList.toggle("nav__burger--close")
          navLinks.classList.toggle("nav__links--expanded")
        })


        // To dissapear flash after 2-3 seconds

        const flash = document.querySelector(".flash")

        setTimeout(()=>{
          if(flash) flash.style.display = 'none'
        },2000)
    </script>
    
  </body>
</html>
